<section id="contacto">
  <h2>Contacto</h2>
  <div class="contenedor">
    <ul>
      <h3>Llamanos</h3>

      <div class="telefono">
        <div class="Yuli">
          <a href="tel:5493584407187" target="_blank">
            <button class="button" type="button" name="button">
              <img class="icontelefono" src="/src/assets/images/telefono.png" alt="telefono" height="20px">
              Bottos Yuliana
            </button>
          </a>
        </div>

        <div class="Malcom">
          <a href="tel:5493584418027" target="_blank">
            <button class="button" type="button" name="button">
              <img class="icontelefono" src="/src/assets/images/telefono.png" alt="telefono" height="20px">
              Campbell Malcom
            </button>
          </a>
        </div>
      </div>

      <h3>Nuestras Redes</h3>

      <div class="redes">
        <div class="instagram">
          <a href="https://www.instagram.com/cbnegociosinmobiliarios/" target="_blank">
            <button class="button" type="button" name="button">
              <img class="iconinstagram" src="/src/assets/images/instagram.png" alt="intagram" height="20px">
              CBnegociosinmobiliarios
            </button>
          </a>
        </div>

        <div class="whatsapp">
          <div class="Yuli">
            <a href="https://walink.co/7fee7b" target="_blank">
              <button class="button" type="button" name="button">
                <img class="iconwhatsapp" src="/src/assets/images/whatsapp.png" alt="whatsapp" height="20px">
                Bottos Yuliana
              </button>
            </a>
          </div>

          <div class="Malcom">
            <a href="https://walink.co/b52d86" target="_blank">
              <button class="button" type="button" name="button">
                <img class="iconwhatsapp" src="/src/assets/images/whatsapp.png" alt="whatsapp" height="20px">
                Campbell Malcom
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="email">
        <a href="mailto: contacto@cbnegociosinmobiliarios.com" target="_blank">
          <button class="button" type="button" name="button">
            E-Mail
          </button>
        </a>
      </div>
    </ul>
  </div>
</section>